<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>
    <table>
        <tr>
            <td>File selection:</td>
            <td><input type="file" id="files" name="files[]" multiple /></td>
        </tr>
        <tr>
            <td>Progress:</td>
            <td><div id="progress_bar"><div class="percent">0%</div></div></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><span id="status"></span></td>
        </tr>
    </table>
    <script type="text/javascript" src="components/jquery/jquery.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
</body>

</html>
